.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  @include for-large-up {
    flex-direction: row;
    justify-content: space-between;
  }
  &__title {
    font-family: 'Unica One', sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: 1.875em;
    color: #030303;
    margin: 0 0 0.625em;
    margin-bottom: 40px;
    @include for-large-up {
      font-size: 2.25em;
    }
  }
  &__container {
    display: flex;
    width: 300px;
  }

  &__search {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    @include for-large-up {
      align-items: flex-start;
    }
  }

  &__label {
    display: block;
    text-align: center;
    font-size: 0.75em;
    font-weight: 700;
    color: #666;
    text-transform: uppercase;
    margin-bottom: 13px;
  }

  &__select {
    width: 150px;
    height: 37px;
    width: 100%;
    border: 1px solid #dedede;
    padding-top: 7;
    padding-bottom: 7px;
    padding-right: 28px;
    padding-left: 7px;
    line-height: 2.15;
    appearance: none;
    background-image: url(//cdn.shopify.com/s/files/1/0938/8938/t/18/assets/ico-select.svg?v=1245925112819775442);
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-color: transparent;
    text-indent: 0.01px;
    text-overflow: '';
    cursor: pointer;
    @include for-large-up {
      background-color: transparent;
      font-weight: 700;
      border: none;
      padding-left: 0;
    }
  }
  &__filter {
    margin-right: 0;
    @include for-large-up {
      margin-right: 10px;
    }
  }
}
